<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">About Pangolins</h1>
<h2 class="text-center" style="color:#999900">Pangolins are insect-eating mammals covered in tough, overlapping scales.</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<h2 class="text-center">All Eight Pangolin Species In Africa and Asia</h2>
<br>
<br>
<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1555952416665-A8JLNBW82OYROPH2I7N5/Cape_Darren_Pietersen.JPG?format=750w"
        height="350"
        width="350" />
      </div>
      <div class="col">
        <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1555952427495-ZUUL7EAJSFV8WN3LOKH8/Chinese_Scott_Trageser_Photography.jpg?format=750w"
        height="350"
        width="350" />
      </div>
      <div class="col">
        <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1555952427899-Y6YI4H8WGW213002OINB/Black-bellied_Sangha_Pangolin_Project+.JPG?format=750w"
        height="350"
        width="350" />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <p>Ground Pangolins</p>
      </div>
      <div class="col">
        <p>Chinese Pangolin</p>
      </div>
      <div class="col">
        <p>Black-Bellied Pangolin</p>
      </div>
    </div>
    <br>
    <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1555952417404-G6C7EQ6HGFCR8VISVB95/White-bellied_Tim_Wacher_ZSL.jpg?format=750w"
            height="350"
            width="350" />
          </div>
          <div class="col">
            <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1555952418096-6UMDH0XFRF7XTYR8WTQF/Giant_Stuart+Nixon+Chester+Zoo.JPG?format=750w"
            height="350"
            width="350" />
          </div>
          <div class="col">
            <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1555952420646-XIF7T0ZZ1P3IRT3LSAZN/Sunda_Suzi_Eszterhas.jpg?format=750w"
            height="350"
            width="350" />
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <p>White-Bellied Pangolin</p>
          </div>
          <div class="col">
            <p>Giant Pangolin</p>
          </div>
          <div class="col">
            <p>Sunda Pangolin</p>
          </div>
        <br>
        <div class="container">
  <div class="row align-items-start">
    <div class="col">
      <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1555952423163-ZVX3F26VJYFIKIIR50Z1/Philippine_Katala_Foundation.jpg?format=750w"
      width="350"
      height="350" />
    </div>
    <div class="col">
      <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1555952425221-XAD2SLFWMXESMLOTO8XG/Indian_Gerald_Cubitt.jpg?format=500w"
      width="500"
      height="350" />
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col">
      Philippine Pangolin
    </div>
    <div class="col">
      Indian Pangolin
    </div>
  </div>
</div>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
<br>
<br>
<br>
<br>
<h2>Overview</h2>
<p>Pangolins are uniquely covered in tough, overlapping scales. These mammals eat ants and termites using an extraordinarily long, sticky tongue, and are able to quickly roll themselves up into a tight ball when they feel threatened. Eight different pangolin species can be found across Asia and Africa. Poaching for illegal wildlife trade and habitat loss have made these incredible creatures one of the most threatened groups of mammals in the world.</p>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
<br>
<br>
<br>
<br>
<h2>Taxonomy and Status</h2>
<p>There are eight species of pangolins. All pangolins belong to the genus Manis in the family Manidae, which is the only family within the order Pholidota. Although pangolins share similar characteristics with Xenarthrans (anteaters, armadillos, and sloths), they are in fact more closely related to the order Carnivora (cats, dogs, bears, etc.). </p>
<br>
<p><b>Asian Pangolins</b></p>
<ul>
  <li>Chinese Pangolin <b>- Critically Endangered</b></li>
  <li>Sunda Pangolin <b>- Critically Endangered</b></li>
  <li>Palawan Pangolin <b>- Critically Endangered</b></li>
  <li>Indian Pangolin <b>- Endangered</b></li>
</ul>
<br>
<p><b>African Pangolins</b></p>
<ul>
  <li>White-Bellied Pangolin <b>- Endangered</b></li>
  <li>Giant Pangolin <b>-Endangered</b></li>
  <li>Ground Pangolin <b>- Vulnerable</b></li>
  <li>Black-Bellied Pangolin <b>- Vulnerable</b></li>
</ul>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
<br>
<h2>Physical Characteristics</h2>
<div class="clearfix">
  <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1556806773547-5O7SDJQCP0CFPI3XSUAL/Black-bellied-pangolin_Anita-Mishra.jpg?format=750w" class="col-md-6 float-md-end mb-3 ms-md-3"
  width="350"
  height="350" />

  <p>
    Pangolin species vary in size from about 1.6kg (~3.5 lbs) to a maximum of about 33kg (~73 lbs). They vary in color from light to yellowish brown through olive to dark brown. Protective, overlapping scales cover most of their bodies. These scales are made from keratin — the same protein that forms human hair and fingernails. Overlapping like artichoke leaves, the scales grow throughout the life of a pangolin just like hair; scale edges are constantly filed down as pangolins dig burrows and tunnel through the soil in search of termites and ants. Pangolin undersides do not have scales, and are covered with sparse fur. The four Asian pangolins are distinguished from the African species by the presence of bristles which emerge from between the scales.
  </p>

  <p>
    With small conical heads and jaws lacking teeth, pangolins have amazingly long, muscular, and sticky tongues that are perfect for reaching and lapping up ants and termites in deep cavities. Pangolins have poor vision, so they locate termite and ant nests with their strong sense of smell. A pangolin's tongue is attached near its pelvis and last pair of ribs, and when fully extended can be up to half the length of the animal's head and body. A pangolin’s stomach is muscular and has keratinous spines projecting into its interior. Usually containing small stones, the stomach mashes and grinds prey in much the same manner as a bird’s gizzard.
  </p>

  <p>
    Pangolin limbs are stout and well adapted for digging. Each paw has five toes, and their forefeet have three long, curved, claws used to demolish the nests of termites and ants and to dig nesting and sleeping burrows. Pangolins shuffle on all four limbs, balancing on the outer edges of their forefeet and tucking their foreclaws underneath as they walk. They can run surprisingly fast, and will often rise on their hind limbs to sniff the air. Pangolins are also capable swimmers, and while some pangolin species such as the ground pangolin (Smutsia temmincki) are completely terrestrial, others, such as the black-bellied pangolin (Phataginus  tetradactyla), are adept climbers, using their claws and semi-prehensile tails to grip bark and scale trees.
  </p>
</div>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
<h2>Distribution and Habitat</h2>
<div class="clearfix">
  <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1556062988700-CH1Y7XJLAU2FDPPLDLQR/shutterstock_1339554404_Tree%2BPangolin%2Bwith%2Bbaby_Credit%2BJiri%2BProchazka.jpg?format=750w" class="col-md-6 float-md-end mb-3 ms-md-3"
  height="550"
  width="450" />

  <p>
    Four pangolin species occur across Asia: the Indian pangolin, the Chinese pangolin, the Sunda pangolin, and the Palawan pangolin. Four species are found in Africa south of the Sahara Desert: the ground pangolin, the white-bellied pangolin, the giant pangolin, and the black-bellied pangolin. 
  </p>

  <p>
    Pangolins are found in a variety of habitats including tropical and flooded forests, thick brush, cleared and cultivated areas, and savannah grassland; in general they occur where large numbers of food (ants and termites) are found. Asian pangolins in particular are threatened by loss of habitat due to expanding agriculture and other human uses. Pangolins dig deep burrows for sleeping and nesting that contain circular chambers. Large chambers have been discovered in terrestrial pangolin burrows that are big enough for a human to crawl inside and stand up. Some pangolin species such as the Sunda pangolin also sleep in the hollows and forks of trees and logs.
  </p>

</div>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
<h2>Diet</h2>
<div class="clearfix">
  <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1556056700178-04ERE1Y6DW9G7R1BVEJL/iStock-512292686_Credit+2630ben.jpg?format=750w" class="col-md-6 float-md-end mb-3 ms-md-3"
  width="350"
  height="350" />

  <p>
    Pangolins live predominantly on a diet of ants and termites, which they may supplement with various other invertebrates including bee larvae, flies, worms, earthworms, and crickets. This specialist diet makes them extremely difficult to maintain in captivity—they often reject unfamiliar insect species or become ill when fed foreign food. Wild pangolins locate insect nests using a well developed sense of smell. Voraciously digging ants and termites from mounds, stumps, and fallen logs with their claws, they use their extremely long sticky tongues to capture and eat them.
  </p>

  <p>
    Pangolins’ insatiable appetite for insects gives them an important role in their ecosystem: pest control. Estimates indicate that one adult pangolin can consume more than 70 million insects annually. Pangolins have special muscles that seal their nostrils and ears shut, protecting them from attacking insects. They also have special muscles in their mouths which prevent ants and termites from escaping after capture.
  </p>
</div>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
<h2>Behavior</h2>
<div class="clearfix">
  <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1556056772614-N3899V8918IX9AR9GRFY/iStock-963817812_Credit+Willem+Van+Zyl.jpg?format=750w" class="col-md-6 float-md-end mb-3 ms-md-3"
  width="350"
  height="350" />

  <p>
    Pangolins are solitary, most are nocturnal and highly secretive; thus it is difficult for scientists to study them in the wild, and many mysteries remain about their behavior and habits. Some pangolin species such as the Chinese pangolin sleep in underground burrows during the day, and others including black-bellied pangolins and Sunda pangolins are known to sleep in trees. They emerge in the evening to forage for insects. Pangolins are well adapted for digging: they dig burrows with their strong front legs and claws, using their tails and rear legs for support and balance. Tunneling underground, they excavate the sides and roofs of passages by pushing up and from side to side with their tough scaled bodies. They use their front and hind feet to back accumulated soil toward the burrow entrance, and vigorously kick dirt out of the entrance up to a meter or more.
  </p>

  <p>
    Chinese pangolins in temperate areas spend the winter months in deep burrows. The winter burrows are strategically excavated near termite nests that provide a lasting food source. In Chinese legend pangolins are said to travel all around the world underground, and in the Cantonese language the name for pangolins translates to “the animal that digs through the mountain,” or “Chun-shua-cap,” which translates to “scaly hill-borer.”
  </p>

  <p>
    While pangolins species share many characteristics and habits, there are also differences. White-bellied pangolins are arboreal tree climbers, while ground pangolins are terrestrial ground dwellers. And some, including all four Asian species, are opportunistic and can be found foraging both in trees and on the ground. Indian pangolins found in Sri Lanka reportedly live in the rainforest canopy where fruit and flowers that attract ants occur, instead of at ground level where it is very dark and the food supply is limited. Some pangolin species even have semi-prehensile tails—they can grasp and hang from branches with their tails, which aids them in climbing.
  </p>

  <p>
    Pangolin scales provide good defense against predators. When threatened, pangolins can quickly curl into a ball, protecting their defenseless undersides. They also deter predators by hissing and puffing, and lashing their sharp edged tails. Pangolins, dependent on their strong sense of smell, identify their territories by scent marking with urine and secretions from a special gland, and by scattering feces. Scientists suspect that these odors advertise dominance and sexual status, and may also help individuals recognize each other.
  </p>
</div>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
<h2>Reproduction and Lifespan</h2>
<div class="clearfix">
  <img src="https://images.squarespace-cdn.com/content/v1/5c86e6b47eb88c3bfb96af39/1556296160746-UJY0F3RRDNAEHJ9AFHXB/ground-pangolin-gonarezhou.JPG?format=500w" class="col-md-6 float-md-end mb-3 ms-md-3"4
  height="350"
  width="350" />

  <p>
    Male and female pangolins differ in weight; in most species, males are 10-50 percent heavier than females. Pangolins reach sexual maturity at two years, and most pangolins give birth to a single offspring, though two and three young have been reported in the Asian species. When born, pangolins are about six inches long and weigh about 12 ounces (0.75 lbs). Their scales are soft and pale, and begin to harden by the second day. Pangolin mothers nurture their young in nesting burrows. A mother will protectively roll around her baby when sleeping or if threatened. Babies nurse for three to four months, but can eat termites and ants at one month. Infant pangolins will ride on the base of the mother’s tail as she forages for insects.
  </p>

  <p>
    It is unknown how long pangolins can live in the wild, though pangolins have reportedly lived as long as twenty years in captivity.
  </p>
</div>

{% endblock %}