<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}


{% block body %}
<h1 class="text-center">Pangolin Conservation</h1>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <img src="https://www.expertafrica.com/images/animal/73500a24533a4fc4b1adaf1ac2e8ed05.jpg"
        width="650"
        height="450" />
      </div>
      <div class="col">
        <h2>Pangolins are the most trafficked wild mammals in the world. But it is not too late to save them from extinction</h2>
      </div>
    </div>
    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1555701891700_19303"><div class="sqs-block-content"><hr></div></div>
    <div class="clearfix">
        <img src="https://media.npr.org/assets/img/2014/08/01/babypangolin_custom-1e50cdb28cb7ecacaee6eecc204db3fe30e9fdfc.jpg" width="150" height="450" class="col-md-6 float-md-end mb-3 ms-md-3">
      
        <p>
            All eight species of pangolins are threatened with extinction, according to the International Union for Conservation of Nature (IUCN) SSC Pangolin Specialist Group.
        </p>
      
        <p>
            The four Asian species are classified as Critically Endangered or Endangered, and the four African species are classified as Vulnerable. In 2016, pangolins gained the highest levels of protection under the Convention on the International Trade in Endangered Species of Wild Fauna and Flora (CITES) with the decision to uplist all 8 species to Appendix I. International trade in pangolins for commercial purposes  is prohibited by law.
        </p>
      
        <p>
            These protections will not stop the pangolin poaching crisis alone. Much more work needs to be done to stop the killing, trafficking, and demand for pangolins.
        </p>
      </div>
{% endblock %}